@model BlogProject.Core.Models.ViewModels.ArticleViewModel

@if (Model.Comments?.Any() != true)
                        {
                            <p class="text-muted">Комментариев пока нет.</p>
                        }
else
{
    foreach (var comment in Model.Comments)
    {
        <div class="comment" data-comment-id="@comment.CommentId" data-article-id="@Model.ArticleId">
            <div class="d-flex justify-content-between align-items-center bg-light mt-2">
                <p class="text-muted small">
                    Автор: @comment.Author | Создано: @comment.CreatedDate?.ToString("dd.MM.yyyy HH:mm")
                    @if (comment.UpdatedDate != null)
                    {
                        @: | Обновлено: @comment.UpdatedDate?.ToString("dd.MM.yyyy HH:mm")
                    }
                </p>
                <div>
                    @if (comment.Editable)
                    {
                        <button type="button" class="btn-link action-icon border-0 bg-transparent p-0" title="Удалить"
                                onclick="editComment('@Model.ArticleId', '@comment.CommentId')">
                            <i class="bi bi-pencil-square text-primary"></i>
                        </button>

                    }
                    @if (comment.Deletable)
                    {
                        <button type="button" class="btn-link action-icon border-0 bg-transparent p-0" title="Удалить"
                                onclick="deleteComment('@comment.CommentId', '@Model.ArticleId')">
                            <i class="bi bi-trash text-danger"></i>
                        </button>
                    }
                </div>
            </div>
            <p class="comment-text card-text" style="white-space: pre-wrap;"> @comment.Text</p>
        </div>

    }
}